go 1.26.1

use (
	./tools/aarch64dec
	./tools/aarch64enc
	./tools/build-disk
	./tools/comment-bench
	./tools/editor-prototype
	./tools/enctab-gen
	./tools/i62-bdos-experiment/build-i62-disk
	./tools/sam-aarch64
	./tools/sam-aarch64-format
	./tools/z80-test-harness-go
	./tools/zx0-greedy
)
